.home-app {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.statusPomodoro {
    font-size: 30px;
    color: #E17055;
}

.clockPomodoro {
    font-size: 45px;
    font-weight: 600;
    color: #E17055;
}